body{
    font-family: 'Open Sans', sans-serif;
    padding: 20px 80px;
}

a{
    text-decoration: none;
    color: black;
}
p{
    font-size: 12px;
    display: flex;
    justify-content: center;
}

*{
    box-sizing: border-box;
}